{% extends 'base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block extra_head %}{% endblock extra_head %}


{% block navbar %}
    {% include 'components/navbar.html' %}
{% endblock navbar %}


{% block content %}

<!-- component -->
<div class="py-16 bg-white dark:bg-gray-900">  
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
        <div class="space-y-6 md:space-y-0 md:flex md:gap-6 lg:items-center lg:gap-12">
          <div class="md:5/12 lg:w-5/12">
            


<div class="relative overflow-hidden px-6">
                        <img src="https://tailone.tailwindtemplate.net/src/img/dummy/avatar4.png" class="max-w-full h-auto mx-auto rounded-full bg-gray-50 grayscale" alt="title image">
                    </div>
                    <div class="pt-6 text-center">
                        <p class="text-lg leading-normal font-bold mb-1 dark:text-gray-300">Gaston Franco</p>
                        <p class="text-gray-500 leading-relaxed font-light">Python Developer</p>
                        <!-- social icon -->
                        <div class="mt-2 mb-5 space-x-2">
                       
                            <a class="hover:text-blue-700" aria-label="Linkedin link" href="https://www.linkedin.com/in/gaston-franco-18b708237/">
                                <!-- <i class="fab fa-linkedin text-linkedin"></i> -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="inline-block" width="1rem" height="1rem" viewBox="0 0 512 512">
                                    <path fill="currentColor" d="M444.17,32H70.28C49.85,32,32,46.7,32,66.89V441.61C32,461.91,49.85,480,70.28,480H444.06C464.6,480,480,461.79,480,441.61V66.89C480.12,46.7,464.6,32,444.17,32ZM170.87,405.43H106.69V205.88h64.18ZM141,175.54h-.46c-20.54,0-33.84-15.29-33.84-34.43,0-19.49,13.65-34.42,34.65-34.42s33.85,14.82,34.31,34.42C175.65,160.25,162.35,175.54,141,175.54ZM405.43,405.43H341.25V296.32c0-26.14-9.34-44-32.56-44-17.74,0-28.24,12-32.91,23.69-1.75,4.2-2.22,9.92-2.22,15.76V405.43H209.38V205.88h64.18v27.77c9.34-13.3,23.93-32.44,57.88-32.44,42.13,0,74,27.77,74,87.64Z"></path>
                                </svg>
                            </a>
                        </div>
                    </div>
      



          </div>
          <div class="md:7/12 lg:w-6/12">
            <h2 class="text-2xl text-gray-900 font-bold md:text-4xl dark:text-gray-100">Nuxt development is carried out by passionate developers</h2>
            <p class="mt-6 text-gray-600">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum omnis voluptatem accusantium nemo perspiciatis delectus atque autem! Voluptatum tenetur beatae unde aperiam, repellat expedita consequatur! Officiis id consequatur atque doloremque!</p>
            <p class="mt-4 text-gray-600"> Nobis minus voluptatibus pariatur dignissimos libero quaerat iure expedita at? Asperiores nemo possimus nesciunt dicta veniam aspernatur quam mollitia.</p>
          </div>
        </div>
    </div>
  </div>
  

{% endblock content %}


{% block footer %}

{% endblock footer %}


{% block javascript %}

{% endblock javascript %}